<div class="absolute z-40 h-full min-h-screen px-10 pt-20 bg-sky-50 lg:bg-white lg:block lg:relative lg:p-0">
    <h2 class="mb-3 text-2xl font-medium text-blue-900">Countries App</h2>

    <ul class="max-w-md text-gray-500">
        <li class="py-2 text-center border border-gray-300 rounded-md cursor-pointer w-60"
            routerLink="countries/by-capital" routerLinkActive="bg-sky-700 text-white font-semibold">
            By Capital
        </li>
        <li class="py-2 text-center border border-gray-300 rounded-md cursor-pointer w-60"
            routerLink="countries/by-country" routerLinkActive="bg-sky-700 text-white font-semibold">
            By Country
        </li>
        <li class="py-2 text-center border border-gray-300 rounded-md cursor-pointer w-60"
            routerLink="countries/by-region" routerLinkActive="bg-sky-700 text-white font-semibold">
            By Region
        </li>
    </ul>
</div>