<ng-template #loading>
    <div class="max-w-md p-5 mx-auto bg-blue-300 rounded-md">
        <p class="text-center">Please wait...</p>
    </div>
</ng-template>

<div *ngIf="country; else loading">
    <h2 class="text-5xl font-medium text-center text-blue-900">{{country.name.common | uppercase }}</h2>

    <div
        class="flex flex-col items-center justify-center gap-4 px-5 py-8 mt-10 mb-32 border rounded-md border-sky-200 bg-sky-100/80 lg:grid lg:grid-cols-2">
        <div
            class="flex flex-row items-start justify-center w-full lg:items-center gap-x-14 lg:gap-3 lg:flex-col lg:gap-y-8">
            <div class="flex flex-col items-center justify-center">
                <h3 class="mb-3 font-medium text-blue-900">Flag</h3>
                <img [src]="country.flags.svg" [alt]="country.name.common" class="w-32 lg:w-56 drop-shadow-md">
            </div>
            <div class="flex flex-col items-center justify-center">
                <h3 class="mb-3 font-medium text-blue-900 text-nowrap">Coat of arms</h3>
                <img [src]="country.coatOfArms.svg" [alt]="country.name.common" class="w-20 lg:w-48 drop-shadow-md">
            </div>
        </div>
        <div class="w-full mt-4">
            <ul class="flex flex-col items-center justify-center w-full lg:items-start gap-y-4">
                <li class="text-center lg:text-left"><strong>Continent:</strong> {{country.continents}}</li>
                <li class="text-center lg:text-left"><strong>Capital:</strong> {{country.capital[0]}}</li>
                <li class="text-center lg:text-left"><strong>Borders:</strong>
                    {{country.borders ? country.borders : 'No borders' }}
                </li>
                <li class="text-center lg:text-left"><strong>Languages:</strong>
                    {{ getLanguagesString(country.languages) }}
                </li>
                <li *ngFor="let currency of country.currencies | keyvalue" class="text-center lg:text-left">
                    <strong>Currency:</strong> {{
                    currency.value.name }} {{ currency.value.symbol }}
                </li>
                <li class="text-center lg:text-left"><strong>Coordinates:</strong> {{country.latlng}}</li>
                <li class="text-center lg:text-left"><strong>Time Zone:</strong> {{country.timezones}}</li>
                <li class="flex flex-wrap gap-y-1.5 justify-center lg:justify-start">
                    <strong>Translations: </strong>
                    <span
                        class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300 text-nowrap">{{country.translations['ara'].common}}
                    </span>
                    <span
                        class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300 text-nowrap">{{country.translations['spa'].common}}
                    </span>
                    <span
                        class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300 text-nowrap">{{country.translations['deu'].common}}
                    </span>
                    <span
                        class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300 text-nowrap">{{country.translations['fra'].common}}
                    </span>
                    <span
                        class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300 text-nowrap">{{country.translations['ita'].common}}
                    </span>
                    <span
                        class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300 text-nowrap">{{country.translations['jpn'].common}}
                    </span>
                    <span
                        class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300 text-nowrap">{{country.translations['rus'].common}}
                    </span>
                </li>
                <li class="text-center lg:text-left"><strong>View in map: </strong>
                    <a [href]="country.maps.googleMaps" rel="noopener noreferrer" target="_blank"
                        class="px-4 py-2 text-sm font-medium text-white bg-blue-700 rounded hover:bg-blue-800">
                        click here
                    </a>
                </li>
            </ul>
        </div>
    </div>


</div>