<div class="relative flex md:mt-10 lg:gap-x-10">
  <div class="relative md:ml-10">
    <div class="absolute z-50 left-5 top-5">
      <shared-toggle-sidebar (toggle)="toggleSidebar()" [isSidebarVisible]="isSidebarVisible"></shared-toggle-sidebar>
    </div>

    <!-- Sidebar -->
    <shared-sidebar class="" [ngClass]="{'hidden': !isSidebarVisible, 'block': isSidebarVisible}"></shared-sidebar>
  </div>

  <div class="block w-full px-4 pt-20 pb-8 overflow-x-auto lg:pt-0 lg:overflow-auto sm:px-8 md:px-14">
    <!-- Paginas -->
    <router-outlet></router-outlet>
  </div>
</div>
<shared-footer class="absolute bottom-0 z-50 w-full"></shared-footer>