<div *ngIf="countries.length === 0; else table" class="flex justify-center max-w-md mx-auto mt-5">
    <p class="w-full p-4 font-medium text-center bg-yellow-200 border border-yellow-600 rounded-md">Countries not
        found!</p>
</div>

<ng-template #table>
    <div class="relative mt-5 mb-32 overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 rtl:text-right">
            <thead class="text-xs text-gray-700 uppercase bg-gray-200">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        #
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Flag
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Capital
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Region
                    </th>
                    <th scope="col" class="hidden px-6 py-3 md:block">
                        Population
                    </th>
                    <th scope="col" class="px-6 py-3">
                        link
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of countries; let i = index" class="border-b odd:bg-white even:bg-gray-200">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ i+1 }}
                    </th>
                    <td class="px-6 py-4 text-xl">
                        {{ country.flag }}
                    </td>
                    <td class="px-6 py-4">
                        {{ country.name.common }}
                    </td>
                    <td class="px-6 py-4">
                        {{ country.capital }}
                    </td>
                    <td class="px-6 py-4">
                        {{ country.region }}
                    </td>
                    <td class="hidden px-6 py-4 md:block">
                        {{ country.population | number }}
                    </td>
                    <td class="px-6 py-4">
                        <a [routerLink]="['/countries/by/', country.cca3]"
                            class="font-medium text-blue-600 hover:underline">+ Info</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-template>