<h2 class="pb-3 text-4xl text-center text-blue-900">By Capital</h2>
<hr>

<div class="mt-5">
    <!-- SearchBox -->
    <shared-search-box (onValue)="searchByCapital($event)" (onDebounce)="searchByCapital($event)"
        [initialValue]="intialValue" placeholder="Search by capital"></shared-search-box>
</div>

<div class="w-full">
    <!-- Spinner -->
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <!-- Resultados -->
    <countries-table [countries]="countries"></countries-table>
</div>